@import "../../assets/styles/varibles.styl"

.header
  position: absolute
  top: 0
  left: 0
  right: 0
  height: $headerHeight
  color: $lightTextColor
  text-align: center
  line-height: $headerHeight
  font-size: px2rem(16)
  z-index: 99

.transparent
  background-color: $themeColor

:global
  .transparent-enter
    transition: all .4s ease-out
  .transparent-enter-active
    background-color: $themeColor
  .transparent-enter-done
    background-color: $themeColor
  .transparent-exit
    transition: all .4s ease-out
  .transparent-exit-active
    background-color: transparent
