@import "../../assets/styles/varibles.styl"

.header
  position: absolute
  top: 0
  left: 0
  right: 0
  height: $headerHeight
  background-color: $themeColor
  color: $lightTextColor
  text-align: center
  line-height: $headerHeight
  font-size: 16px
  z-index: 99
  