@import "../../assets/styles/varibles.styl"

.header
  position: absolute
  top: 0
  left: 0
  right: 0
  height: $headerHeight
  background-color: transparent
  color: $lightTextColor
  text-align: center
  line-height: $headerHeight
  font-size: px2rem(16)
  z-index: 99

.transparent
  background-color: $themeColor