@import "../../assets/styles/varibles.styl"
@import "../../assets/styles/1pxborder.styl"

.item
    display: block
    display flex
    padding: px2rem(15)
    borderBottom(#f6f6f6)
    .itemTitle
      flex: 1
      min-width: 0
      line-height: px2rem(18)
      font-size: px2rem(15)
      font-weight: 500
    .itemImg
      width: px2rem(75)
      height: px2rem(60)
      margin-left: px2rem(8)
      img 
        width: 100%
        height: 100%