@import "../../assets/styles/varibles.styl"

.menu
  position: absolute
  top: 0
  left: 0
  .menuBtn
    padding: 0 px2rem(12)
    i
      font-size: px2rem(20)
  .menuList
    position: absolute
    top: 100%
    left: 5px
    min-width: px2rem(120)
    background: #232a30
    font-size: px2rem(14)
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    .menuItem
      display: block
      color: #94999d
      &.active
        background: #1b2329
        color: #ffffff
